.btnFollowed {
  width: 70px;
  height: 20px;
  margin-bottom: 40px;
  margin-left:15px;
}

.usersImg img{
  border-radius: 50px;
}

.usersBorder{
  border-bottom: solid 1px black;
}
.users img{
  width: 90px;
  height: 90px;
  margin-top: 30px;
}

.users h3{
  padding: 0px;
  margin: 5px;
}

.users h4{
  margin: 0px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-left: 5px;
}

.activBtnPages button{  
    border:none;
    background-color: white;
    width: 100%;
}

.buttonAktive{
  font-size: 15px;
  font-weight: 700;
}

.activBtnPages button:hover{
  cursor: pointer;
}


.loaderGif img {
  width:300px;
  height: 300px;

  display:block;
  
  margin-left: auto;
  margin-right: auto;

  padding-top: 50px;
  padding-bottom: 120px;  /* закостылить исчезновение скрола */
}

.PagesBloc{
  display: flex;
  justify-content: center;
}


.chevronBoubleLeft img{
  padding-right: 3px;
  width: 15px;
  height: 15px;
  margin-top: 9px;
}

.activBtnPages{
  padding: 0px 5px 0px 5px;
}

.chevronBoubleRight img {
  padding-left: 9px;
  width: 10px;
  height: 10px;
  margin-top: 9px;
}

.chevronBoubleLeft img:hover{
  cursor: pointer;
}

.chevronBoubleRight img:hover{
  cursor: pointer;
}

@media(max-width:450px){
  .btnFollowed  {
    margin: 0 auto;
    width: 100px;
    height: 30px;
    padding-bottom: 10px;
  }
  
  .chevronBoubleLeft img{
    padding-right: 3px;
    width: 25px;
    height: 25px;
    margin-top: 9px;
  }
  .chevronBoubleRight img {
    padding-left: 9px;
    width: 15px;
    height: 15px;
    margin-top: 9px;
  }

  .activBtnPages{
    padding: 5px 10px 0px 0px;
  }
}
