.posts{

    width: 400px;
    border-top: solid 1px black;
    margin-top: 30px;
}

.buttonAddPost{
    width: 80px;
    height: 25px;

    margin-bottom: 10px;
    margin-left: 320px;
    border-radius: 25px;

}
.buttonAddPost:hover{
    cursor:pointer;
    background-color: rgb(204, 236, 204);
}

.profileInput{
    border-radius: 25px;
    margin-top: 20px;

    width: 400px;
    height: 100px;

    margin-bottom: 5px;
}

.errorsText{
    color: red;
    text-align: 20px;
}

.postsElement img{
    border-radius: 50px;
}

.border{
    margin-top: 40px;
    border: solid black 1px;
    margin-bottom: 20px;
}


@media(max-width:450px){
    .posts{ 
        width: 100%;
        border-top: solid 2px black;
        margin-top: 100px;
    }
    .buttonAddPost{
        width: 80px;
        height: 25px;
    
        margin-bottom: 10px;
        margin: 0 auto;
        border-radius: 25px;
        margin-bottom: 20px;
    
    }
    .buttonAddPost:hover{
        cursor:pointer;
        background-color: rgb(204, 236, 204);
    }
    
    .profileInput{
        border-radius: 25px;
        margin-top: 20px;
    
        width: 400px;
        height: 100px;
    
        margin-bottom: 5px;
    }
    
    .errorsText{
        color: red;
        text-align: 20px;
    }
    
    .postsElement img{
        border-radius: 50px;
    }
    
    .border{
        margin-top: 40px;
        border: solid black 1px;
        margin-bottom: 20px;
    }
    
}



@media(max-width:420px){
    .posts{ 
        width: 100%;
        border-top: solid 2px black;
        margin-top: 100px;
    }
    .buttonAddPost{
        width: 80px;
        height: 25px;
    
        margin-bottom: 10px;
        margin: 0 auto;
        border-radius: 25px;
        margin-bottom: 20px;
    
    }
    .buttonAddPost:hover{
        cursor:pointer;
        background-color: rgb(204, 236, 204);
    }
    
    .profileInput{
        border-radius: 25px;
        margin-top: 20px;
    
        width: 95%;
        height: 100px;
    
        margin-bottom: 5px;
    }
    
    .errorsText{
        color: red;
        text-align: 20px;
    }
    
    .postsElement img{
        border-radius: 50px;
    }
    
    .border{
        margin-top: 40px;
        border: solid black 1px;
        margin-bottom: 20px;
    }
    
}

@media(max-width:360px){
    .posts{
        width: 100%;
        border-top: solid 1px black;
        margin-top: 20px;
    }
    
    .buttonAddPost{
        width: 80px;
        height: 25px;

        margin:0 auto;
        border-radius: 25px;
        margin-bottom: 20px;
    }
    .buttonAddPost:hover{
        cursor:pointer;
        background-color: rgb(204, 236, 204);
    }
    
    .profileInput{
        border-radius: 25px;
        margin-top: 20px;
    
        width: 90%;
        height: 100px;
    
        margin-bottom: 5px;
    }
    
    .errorsText{
        color: red;
        text-align: 20px;
    }
    
    .postsElement img{
        border-radius: 50px;
    }
    
    .border{
        margin-top: 40px;
        border: solid black 1px;
        margin-bottom: 20px;
    }
    
}

@media(max-width:240px){
    
}
