.buttonAddPost{
    margin-bottom: 10px;
}
.buttonAddPost:hover{
    cursor:pointer;
    background-color: rgb(91, 192, 65);
}

.profileInput{
    width: 500px;
    height: 100px;
}

.errorsText{
    color: red;
    text-align: 20px;
}