.header{
    margin-top: 10px;
    height: 70px;
    grid-area: h;
    border-radius: 25px;
    background-color: white;
  }

  .logoCompany{
    width: 60px;
    padding: 5px;

    padding-left: 20px;
  }

  .header h3{
    color: black;
    position: absolute;
    margin-top: 0px;
    padding-top: 5px;
    padding-left: 90px;
    font-size: 25px;
    font-weight: 800;  
  }

  .header h5{
  position: absolute;
  padding-left: 100px;
  padding-top: 15px;
  font-weight: 400; 
}

.search{
  position: absolute;

  border-radius: 25px;

  width: 300px;
  height: 25px;
  margin-left: 500px;
  margin-top: 25px;
}

.searchImg{
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: 480px;
  margin-top: 30px;
}

  .login{
    float: right;

    font-size: 20px;

    text-align: right;
    
    padding-right: 10px;
   }

   .login a{
     color: white;
     text-decoration: none ;
   }

   .loginInfoUser{
     text-align: right;
     padding: 5px;
     
   }

  

   .userLogin{
     font-size: 18px;
     font-weight: 500;
   }

   .userLogin img{
     padding-right: 5px;
     width: 17px;
     height: 17px;
   }


   .buttonExitLogin{
     width: 70px;
     height: 20px;

     border-radius: 25px;

     color:red;
     font-size: 12px;
     font-weight: 600;
   }
   
   .buttonLogin{
    width: 70px;
    height: 20px;

    border-radius: 25px;

    background-color: black;
    font-size: 12px;
    font-weight: 600;
   }

   .buttonExitLogin:hover{
     background-color:red;
     color:black;
     cursor: pointer;
   }

   .search:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}