.header{
    width: 100%;
    padding: 10px 0px 10px 0px;
    grid-area: h;
 }

.headerContainer{
    max-width: 100%;
    border-radius: 25px;
    background-color: white;
    align-items: center;
    display: flex;
    padding: 0 10px 0 10px;
    justify-content: space-between;
}

.logoCompany{
    height: 70px;
    margin-right: 10px;
}


.header h3{
    color: black;
    font-size: 25px;
    font-weight: 800;  
}

.boxCompanyLogo{
  display: flex;
  align-items:center
}

.boxCompanyLogo h3, h5{
  margin: 0;
}

.boxTextCompany h5{
  margin-left: 20px;
}

.header h5{
 
  font-weight: 400; 
}

.searchBloc{
    display: flex;
    align-items: center;
    height: 25px;
}



.searchInput{
  border-radius: 25px;
  width: 300px;
}

.searchImg{
  width: 16px;
  height: 16px; 
  padding-right: 5px;
}

.login{
    float: right;

    font-size: 20px;

    text-align: right;
    padding-right: 5px;
}

.login a{
     color: white;
     text-decoration: none ;
}

.loginInfoUser{
     text-align: right;
     padding: 5px;
     
}

.userLogin{
     font-size: 18px;
     font-weight: 500;
}

.userLogin img{
     padding-right: 5px;
     width: 17px;
     height: 17px;
}


.buttonExitLogin{
     padding-top: 5px;
    width: 25px;
    height: 25px;
}
  
.buttonLogin img{
    padding-top: 12px;
    padding-right: 10px;
    width: 18px;
    height: 18px;
}

.buttonLogin :hover{
  cursor: pointer;
  width: 23px;
  height: 23px;
}

.buttonExitLogin:hover{
     cursor:pointer;
    width: 30px;
    height: 30px;
     
}

.search:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.boxSearchAndClock{
  display: flex;
  align-items: center;
}

.boxClock{
  display: flex;

}

/********************* MEDIA **********************/

@media(max-width:1200px){

    .searchBloc{
      max-width:100%;
    }

  }
  
  @media(max-width:900px){
    .headerContainer{
      max-width: 700px;
    }

 
    
    .clock{
      margin-left: 30px;
    }

    .searchInput{
      width: 200px;
    }

    
  }

  @media(max-width:767px){
    .headerContainer{
      padding: 10px 3px 0px 3px ;
    }

    .header{
      margin: 0 auto;
      max-width: 100%;
      padding: 10px 0px 10px 0px;
      grid-area: h;
   }

   .boxSearchAndClock{
     display: flex;
     flex-direction: column;
   }
  } 
 


  @media(max-width:450px){
    .boxSearchAndClock{
     display: none;
    }
  }
  
  @media(max-width:380px){

    .boxSearchAndClock{
      display: none;
    }

    .headerContainer{
      padding: 10px 3px 0px 3px ;
    }

    .header{
      margin: 0 auto;
      max-width: 100%;
      padding: 10px 0px 10px 0px;
      grid-area: h;
   }
   .header h5{
    display: none;
  }
  }
  
  @media(max-width:240px){
  
    .header h3{
      color: black;
      position: absolute;
      margin-top: 0px;
      padding: 0 0 0 60px;
      font-size: 15px;
      font-weight: 800;  
  }
  

    .header{
      margin: 0 auto;
      max-width: 100%;
      padding: 10px 0px 10px 0px;
      grid-area: h;
   }
   .header h5{
    display: none;
  }
  }
  