.header{
    margin: 0 auto;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    grid-area: h;
 }

.headerContainer{
   
    height: 70px;

    border-radius: 25px;
    background-color: white;
   
    padding: 5px 20px 5px 20px ;
    display: flex;
    justify-content: space-between;
}

.logoCompany{
    width: 60px;
}


.header h3{
    color: black;
    position: absolute;
    margin-top: 0px;
    padding-left: 70px;
    font-size: 25px;
    font-weight: 800;  
}

.helloImg img{
    width: 15px;
    height: 15px;
}

.header h5{
  position: absolute;
  padding-top: 13px;
  padding-left: 90px;
  font-weight: 400; 
}

.searchBloc{
    width: 250px;
    height: 25px;
    padding-left: 100px;
    padding-top: 20px;
}



.searchInput{
  border-radius: 25px;
  width: 90%;
}

.searchImg{
  width: 16px;
  height: 16px; 
  padding-right: 5px;
}

.login{
    float: right;

    font-size: 20px;

    text-align: right;
    padding-right: 5px;
}

.login a{
     color: white;
     text-decoration: none ;
}

.loginInfoUser{
     text-align: right;
     padding: 5px;
     
}

.userLogin{
     font-size: 18px;
     font-weight: 500;
}

.userLogin img{
     padding-right: 5px;
     width: 17px;
     height: 17px;
}


.buttonExitLogin{
     padding-top: 5px;
    width: 25px;
    height: 25px;
}
  
.buttonLogin img{
    padding-top: 12px;
    padding-right: 10px;
    width: 18px;
    height: 18px;
}

.buttonLogin :hover{
  cursor: pointer;
  width: 23px;
  height: 23px;
}

.buttonExitLogin:hover{
     cursor:pointer;
    width: 30px;
    height: 30px;
     
}

.search:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}


/********************* MEDIA **********************/

@media(max-width:1200px){

    .headerContainer{
      max-width: 900px;
    }
    .searchBloc{
      max-width: 200px;
    }

    .searchImg{
        display: none;
    }
  }
  
  @media(max-width:900px){
    .headerContainer{
      max-width: 700px;
    }
    .searchBloc{
      display: none;
    }
    
    .clock{
      margin-left: 30px;
    }


    .searchImg{
        display: none;
    }
  }