.item img{
    width: 90px;
    height: 90px;
}

.likesBtn{
    width: 90px;
    height: 25px;

    font-weight: 600;
    background-color: rgb(230, 230, 142);

    border-radius: 50px;

    margin-left: 10px;
}

.likesBtn:hover{
    cursor: pointer;
} 

.likes Img{
    width: 10px;
    height: 10px;
}