.content{
    display: flex;
    
}

.contentA{
padding: 10px 0px 10px 30px;
}

.contentB{
    padding-left: 100px;
}


.userImg img{
    border-radius: 50%;
}

.fullName{
    font-size: 30px;
}

.border{
    padding: 0;
    border: 1px solid black;
    margin-bottom:50px
}

.likeImg img{
    width: 30px;
    height: 30px;
}

.content h4 {
    margin:0px;
}

.content p{
    margin-bottom: 10px;
    margin-top:  0px;
}



.baseImgUsers{
    width: 300px;
    height: 300px;
}

.information{
    color: blue;
    font-weight: 500;
    font-size: 20px;
}


