.content{
    max-width: 100%;
    padding: 20px;
}

.contencAB{
    display: flex;
}


.contentA{
padding: 10px 0px 10px 20px;
}

.contentB{
    padding-left: 70px;
}





.userImg img{
    border-radius: 50%;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5)
}


.fullName{
    font-size: 30px;
}

.border{
    padding: 0;
    border: 1px solid black;
    margin-bottom:20px
}

.likeImg img{
    width: 30px;
    height: 30px;
}

.content h4 {
    margin:0px;
}

.content p{
    margin-bottom: 10px;
    margin-top:  0px;
}



.baseImgUsers{
    width: 300px;
    height: 300px;
}

.aboutMeBloc{
    margin-top:50px;
    margin-bottom: 30px;
}

.aboutMeBloc img{
    margin-top: 4px;
    padding-right: 5px;
    width: 21px;
    height: 21px;
}

.information{
    display: flex;

    color: rgb(4, 0, 255);
    font-weight: 500;
    font-size: 20px;
    margin-top: 60px;
}

.informationImg {
    width: 21px;
    height: 21px;
    margin-top: 33px;
    padding-right: 5px;
}

.itemInformationBlocContact{
    margin-left: 20px; 
    display: flex;
    flex-direction: row; 
    justify-content: space-between
}


.itemInformationBlocContact a{
  text-decoration: none;
  color: black;
}

.itemInformationBloc{
    margin-top: 30px;
}

@media(max-width:1200px){
    .content{
        max-width: 700px;
        display: block;
        padding: 10px;
    }

   .contencAB{
    display:block;
    width: 700px;
   } 
}



@media(max-width:900px){
    .content{
        width: 500px;
        display: block;
        padding: 5px;
    }

   .contencAB{
    display:block;
    width: 700px;
   } 

   .itemInformationBlocContact{
    margin-left: 0px; 
    display: contents;
    flex-direction: row; 
    justify-content: space-between
}

.border{
    display: none;
}

}