.container{
    max-width: 1920px;
}

.content{
    max-width: 100%;
    padding: 20px;
}

.contencAB{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}


.userImg img{
    width: 350px;
    height: 350px;
    margin-bottom: 30px;
    border-radius: 50%;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5)
}


.fullName{
    font-size: 30px;
}

.border{
    padding: 0;
    border: 1px solid black;
    margin-bottom:20px
}

.likeImg img{
    width: 30px;
    height: 30px;
}

.content h4 {
    margin:0px;
}

.content p{
    margin-bottom: 10px;
    margin-top:  0px;
}

.baseImgUsers{
    width: 300px;
    height: 300px;
}

.aboutMeBloc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top:50px;
   
}

.aboutMeBloc img{
    margin-top: 4px;
    padding-right: 5px;
    width: 21px;
    height: 21px;
}

.information{
    display: flex;

    color: rgb(4, 0, 255);
    font-weight: 500;
    font-size: 20px;
    margin-top: 60px;
}

.informationImg {
    width: 21px;
    height: 21px;
    margin-top: 33px;
    padding-right: 5px;
}

.itemInformationBlocContact{
    margin-left: 20px; 
    display: flex;
    flex-direction: row; 
    justify-content: space-between
}

.itemInformationBlocContact a{
  text-decoration: none;
  color: black;
}

.itemInformationBloc{
    margin-top: 30px;
}

.setAvatar {
  text-align:center;
  font-size: 15px
}



/******************** MEDIA ******************/

@media(max-width:1250px){
/*     .content{
        max-width: 700px;
        display: block;
        padding: 10px;
    } */


  /*  .contencAB{
    display:block;
    width: 700px;
   }  */
   .userImg img{
    width: 200px;
    height: 200px;
}

.contentB{
    padding: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information{
    margin-top: 0;
}

}

@media(max-width:900px){
    .content{
        width: 500px;
        display: block;
        padding: 5px;
        margin: 0 auto;
    }

  
    .contentA{
        width: 500px;
        display: block;
        padding: 5px;   
    }

   .contencAB{
    width: 450px;
   } 

   .itemInformationBlocContact{
    margin-left: 0px; 
    display: contents;
    flex-direction: row; 
    justify-content: space-between
    }

    .border{
    display: none;
    }

  
}

@media(max-width:600px){
    .content{
        width: 0;
        display: flex;
        justify-content: center;
        text-align: -webkit-center;
    }

    .contentB{
        padding: 0px;
        text-align: center;
    }


    .contentA{
        width: 300px;
        display: block;
        padding: 0px;   
    }

   .contencAB{
    display:block;
    width: 300px;
   
   } 

   .itemInformationBlocContact{
    margin-left: 0px; 
    display: contents;
    flex-direction: row; 
    justify-content: space-between
    }

    .border{
    display: none;
    }
}


@media(max-width:450px){
    .content{
        max-width: 100%;
        padding: 0;
    }
    
    .contencAB{
        display: block;
        margin: 0 auto;
    }
    
    
    .contentA{

        padding:0;
    }
    
    .contentB{
        padding:0;
        text-align: center;
        
    }
    
    .userImg img{
        margin: 30px 0 30px 0  ;
        border-radius: 50%;
        box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5)
    }
    
    
    .fullName{
        font-size: 30px;
    }
    
    .border{
        padding: 0;
        border: 1px solid black;
        margin-bottom:20px
    }
    
    .likeImg img{
        width: 30px;
        height: 30px;
    }
    
    .content h4 {
        margin:0px;
    }
    
    .content p{
        margin-bottom: 10px;
        margin-top:  0px;
    }
    
    .baseImgUsers{
        width: 300px;
        height: 300px;
    }
    
    .aboutMeBloc{
        margin-top:50px;
        margin-bottom: 30px;
    }
    
    .aboutMeBloc img{
        margin-top: 4px;
        padding-right: 5px;
        width: 21px;
        height: 21px;
    }
    
    .information{
        display: flex;
        justify-content:center;
        flex-direction: row;
        color: rgb(4, 0, 255);
        font-weight: 500;
        font-size: 20px;
        margin: 0 auto;
        margin-top: 40px;
    }

    
    .informationImg {
        width: 21px;
        height: 21px;
        margin-top: 33px;
        padding-right: 5px;
    }
    
    .itemInformationBlocContact{
        margin-left: 20px; 
        display: flex;
        flex-direction: row; 
        justify-content: center;
    }
    .itemInformationBlocContact h4{
        padding-right: 10px;
    }
    .itemInformationBlocContact a{
       
      text-decoration: none;
      color: black;
    }
    
    .itemInformationBloc{
        text-align:center;
        margin-top: 30px;
    }
    
    .setAvatar {
      text-align:center;
      font-size: 15px
    }
}

@media(max-width:340px){
    .content{
        width: 100%;
        display: block;
        padding: 1px;
        text-align: center;
    }

    .userImg img{
        width: 250px;
        height: 250px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 50%;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5)
    }

    .contentB{
        padding-left: 0px;
        text-align: center;
    }


    .contentA{
        width: 300px;
        display: block;
        padding: 0px;   
    }

   .contencAB{
    display:block;
    width: 300px;
   
   } 

   .itemInformationBlocContact{
    margin-left: 0px; 
    display: contents;
    flex-direction: row; 
    justify-content: space-between
    }

    .border{
    display: none;
    }

    .informationImg {
        width: 25px;
        height: 21px;
        margin-top: 33px;
        padding-right: 5px;
    }

    .information{
        display: block;
    
        color: rgb(4, 0, 255);
        font-weight: 500;
        font-size: 20px;
        margin-top: 30px;
    }

    .information h5{
        margin: 0;
    }
}

@media(max-width:240px){
    .content{
        width: 100%;
        display: block;
        padding: 1px;
        text-align: center;
    }

    .userImg img{
        width: 150px;
        height: 150px;
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 50%;
        box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5)
    }

    .contentB{
        padding-left: 0px;
        text-align: center;
    }


    .contentA{
        width: 100%;
        display: block;
        padding: 0px;   
    }

   .contencAB{
    display:block;
    width: 100%;
   } 

   .itemInformationBlocContact{
    margin-left: 0px; 
    display: contents;
    flex-direction: row; 
    justify-content: space-between
    }

    .border{
    display: none;
    }

    .informationImg {
        width: 25px;
        height: 21px;
        margin-top: 33px;
        padding-right: 5px;
    }

    .information{
        display: block;
    
        color: rgb(4, 0, 255);
        font-weight: 500;
        font-size: 20px;
        margin-top: 30px;
    }

    .information h5{
        margin: 0;
    }
}