.dialogInput{
    display: flex;
    flex-direction: column;
}

.dialogName {
    margin-right: 30px;
}

.dialogName a{ 
    padding-left:10px;
    text-decoration: none;

    font-size: 20px;
    color:black;
}


.messages{
    padding: 10px;
}

.dialogsItem a.activeLink{
    color: rgb(128, 128, 128);
    padding-left: 10px;
}


.boxButtonAddMessages{
    display: flex;
    justify-content: center;
}
.buttonAddMessages{
    margin-top: 5px;
    border-radius: 25px;
    width: 100px;
    height: 30px;
}

.buttonAddMessages:hover{
    cursor: pointer;
    background-color: rgb(204, 236, 204)
}

.dialogInput input{
    border-radius: 25px;
    height:80px;
    padding: 0;
    margin-top: 30px;
}

.errorsText{
    color:red;
    font-size: 18px;
}

.dialogsItem{
    border-right: solid black 1px;
}
@media(max-width:450px){
    .dialogsItem a.activeLink{
        color: rgb(128, 128, 128);
    }
    
    .messages{
    width: 300px;
    text-align:left;
    }

    .dialogName a{ 
        text-decoration: none;
        color:black;
        font-size: 18px;
    }
    
    .dialogInput input{
        max-width:220px;
    }

    .buttonAddMessages{
        margin: 10px 0 10px 120px;
        border-radius: 25px;
        width: 100px;
        height: 25px;
    }
}