.dialogs{
    display:flex;
}

.dialog{
    padding-left: 20px;
    border-left: solid black 1px;
}

.dialogName {
    margin-right: 30px;
    
}

.dialogName a{ 
    padding-left:10px;
    text-decoration: none;

    font-size: 20px;
    color:black;
}

.dialogName:hover{
    padding-left: 10px;

}

.messages{
    padding: 10px;
}




.dialogsItem a.activeLink{
    font-weight: 700;
    color: rgb(128, 128, 128);
    padding-left: 10px;
}

.buttonAddMessages{
    margin-top: 5px;
    margin-left: 300px;
    border-radius: 25px;
    width: 100px;
    height: 25px;
}

.buttonAddMessages:hover{
    cursor: pointer;
    background-color: rgb(204, 236, 204)
}

.dialogInput input{
    border-radius: 25px;
    width: 400px;
    height:80px;
    
    margin-top: 30px;
}

.border{
    width: 50%;
    border-bottom: solid black 1px;
    padding-top: 130px;
   
}


.errorsText{
    color:red;
    font-size: 18px;
}